<div class = "container-fluid">
	<div class="row">
		<div class = "col-sm-6">
		 <div class="span4">
		   <div class="thumbnail">
		      <img src="<%= @client.user.profile_image_url %>" style="float: left;margin: 5px;">
		      
		      <h3><%= @client.user.screen_name %></h3>
		      <h4><%= @client.user.location %></h4>
		      <br>
		      <p><%= @client.user.description %></p>
		      <%= render 'tweets/form'%>
		    </div>
		  </div>

			<div class="row" style="margin-top: 16px;">
			  <div class="span5">
					<h1>User Timeline</h1>
			  	<table class="table table-striped">
			  	  <tr>
			  	    <th>YOUR TWEETS</th>
			  	  </tr>
			  	  <% @user_timeline.each do |t| %>
				  	   <tr>
				  	     <th><%= twitter_text(t.text) %></th>
				       </tr>
			  	  <% end %>
					</table>
			  </div>
			</div>
		</div>
		<div class = "col-sm-6">
			<div class="span5">
				<h1>Home Timeline</h1>
			  <table class="table table-striped">
				  <tr>
				    <th>User Name</th>
			 	    <th>Profile Image</th>
				    <th>Text</th>
				  </tr>
				  <% @home_timeline.each do |t| %>
				   <tr>
				     <th><%= t.user.name %></th>
				     <th><img src="<%= t.user.profile_image_url %>" /></th>
				     <th><%= twitter_text(t.text) %></th>
				     <th><%= link_to "retweet",socials_retweet_path(t.id), :class=> "btn btn-primary", method: :post %></th>
				     <th><%= link_to "favroite",socials_fav_path(t.id), :class=> "btn btn-primary", method: :post %></th>
			     </tr>
				  <% end %>
				</table>
			</div>
		</div>
	</div>
</div>
